In [3]:
import sys

import numpy as np

import pandas as pd

In [7]:
print(sys.version)

3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

# 对象创建

In [17]:
# 通过传递值列表创建
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [18]:
# 通过 NumPy 阵列创建数据帧，其中带有日期时间索引和标记列：
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCd"))
df

                   A         B         C         d
2013-01-01 -2.265663  0.119720  1.904349  0.026893
2013-01-02 -1.661712 -0.653058  0.988545 -1.048320
2013-01-03 -0.887050 -0.668749 -0.020681  0.946371
2013-01-04  1.840048  0.279023 -0.039208  0.799182
2013-01-05 -1.007623 -0.752487  1.837704 -0.233036
2013-01-06 -1.568384  1.029410  1.072781  1.348292

In [25]:
# 通过传递可转换为类似系列的对象的听写来创建数据帧。
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [26]:
# 生成的数据帧的列具有不同的 d型。
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 查看数据

以下是如何查看框架的顶部和底部行：

In [33]:
df.head(4)

                   A         B         C         d
2013-01-01 -2.265663  0.119720  1.904349  0.026893
2013-01-02 -1.661712 -0.653058  0.988545 -1.048320
2013-01-03 -0.887050 -0.668749 -0.020681  0.946371
2013-01-04  1.840048  0.279023 -0.039208  0.799182

In [34]:
df.tail(4)

                   A         B         C         d
2013-01-03 -0.887050 -0.668749 -0.020681  0.946371
2013-01-04  1.840048  0.279023 -0.039208  0.799182
2013-01-05 -1.007623 -0.752487  1.837704 -0.233036
2013-01-06 -1.568384  1.029410  1.072781  1.348292

显示索引、列：