In [1]:
# coding:utf-8
import pandas as pd

In [2]:
titanic = pd.read_csv(filepath_or_buffer="data/titanic.csv")  # 加载文件

In [3]:
titanic.head(3)  # 显示前三行

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [5]:
# 加载 age 列数据
ages = titanic["Age"]
ages.head(3)

0    22.0
1    38.0
2    26.0
Name: Age, dtype: float64

In [11]:
type(titanic["Age"])  # 每一个列都是一个系列

pandas.core.series.Series

In [12]:
# DataFrame.shape是熊猫的属性,熊猫系列是一维的，只返回行数
titanic["Age"].shape

(891,)

In [13]:
# 我对泰坦尼克号乘客的年龄和性别很感兴趣
age_sex = titanic[["Age", "Sex"]]

In [14]:
age_sex.head()

    Age     Sex
0  22.0    male
1  38.0  female
2  26.0  female
3  35.0  female
4  35.0    male

In [15]:
# 返回的数据类型是熊猫数据帧
type(titanic[["Age", "Sex"]])

pandas.core.frame.DataFrame

In [16]:
titanic[["Age", "Sex"]].shape

(891, 2)