In [1]:
# coding: utf-8
import pandas as pd

In [5]:
"""
空气质量硝酸盐数据
对于此教程，有关空气质量的数据被使用，
由openaq提供，并使用py-openaq包下载。

该数据集为巴黎、安特卫普和伦敦的FR04014、
BETR801和伦敦威斯敏斯特测量站提供了价值。
air_quality_no2_long.csv
"""

'\n空气质量硝酸盐数据\n对于此教程，有关空气质量的数据被使用，\n由openaq提供，并使用py-openaq包下载。\n\n该数据集为巴黎、安特卫普和伦敦的FR04014、\nBETR801和伦敦威斯敏斯特测量站提供了价值。\nair_quality_no2_long.csv\n'

In [6]:
# 加载空气质量硝酸盐数据
air_quality_no2 = pd.read_csv("data/air_quality_no2_long.csv",
                              parse_dates=True)
air_quality_no2 = air_quality_no2[["date.utc", "location",
                                   "parameter", "value"]]
air_quality_no2.head()

                    date.utc location parameter  value
0  2019-06-21 00:00:00+00:00  FR04014       no2   20.0
1  2019-06-20 23:00:00+00:00  FR04014       no2   21.8
2  2019-06-20 22:00:00+00:00  FR04014       no2   26.5
3  2019-06-20 21:00:00+00:00  FR04014       no2   24.9
4  2019-06-20 20:00:00+00:00  FR04014       no2   21.4

In [7]:
# 查看数组行列数
air_quality_no2.shape

(2068, 4)

In [9]:
"""
空气质量 颗粒物 数据
对于此教程，使用小于 2.5 微米的颗粒物空气质量数据，
由openaq提供，并使用py-openaq包下载。

该数据集为巴黎、安特卫普和伦敦的FR04014、
BETR801和伦敦威斯敏斯特测量站提供了价值。
air_quality_pm25_long.csv
"""

'\n空气质量 颗粒物 数据\n对于此教程，使用小于 2.5 微米的颗粒物空气质量数据，\n由openaq提供，并使用py-openaq包下载。\n\n该数据集为巴黎、安特卫普和伦敦的FR04014、\nBETR801和伦敦威斯敏斯特测量站提供了价值。\nair_quality_pm25_long.csv\n'

In [20]:
air_quality_pm25 = pd.read_csv("./data/air_quality_pm25_long.csv", parse_dates=True)
air_quality_pm25 = air_quality_pm25[["date.utc", "location", "parameter", "value"]]
air_quality_pm25.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [19]:
air_quality_pm25.shape

(1110, 4)

#### 串联对象

In [17]:
# 我想将测量结果和两张结构相似的桌子组合在一张桌子上NO2 PM25
air_quality = pd.concat([air_quality_pm25, air_quality_no2], axis=0)
air_quality.head()

                    date.utc location parameter  value
0  2019-06-18 06:00:00+00:00  BETR801      pm25   18.0
1  2019-06-17 08:00:00+00:00  BETR801      pm25    6.5
2  2019-06-17 07:00:00+00:00  BETR801      pm25   18.5
3  2019-06-17 06:00:00+00:00  BETR801      pm25   16.0
4  2019-06-17 05:00:00+00:00  BETR801      pm25    7.5

In [16]:
# concat（）功能沿轴线之一（行或柱式）执行多个表的串联操作。

# 默认串联沿轴 0，因此生成的表将输入表的行组合在一起。
# 让我们检查原始表和串联表的形状以验证操作：

In [21]:
air_quality.shape

(3178, 4)

In [22]:
# 在日期信息上对表进行排序也说明了两个表的组合，列定义了表的来源（从表或从表）：parameterno2air_quality_no2pm25air_quality_pm25
air_quality = air_quality.sort_values("date.utc")
air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

In [24]:
# 在此特定示例中，数据提供的列可确保识别每个原始表。情况并非总是如此。该功能为参数提供了一个方便的解决方案，并添加了额外的（分级）行索引。例如：parameterconcatkeys
air_quality_ = pd.concat([air_quality_pm25, air_quality_no2], keys=["PM25", "NO2"]).sort_values("date.utc")
air_quality_.head()

                            date.utc            location parameter  value
NO2  2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
     1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
PM25 100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
NO2  1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
PM25 1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

In [25]:
"""
本教程中未同时提及多个行/列指数的存在。分层索引或多英寸是分析更高维度数据的高级而强大的熊猫特征。

多索引是这个熊猫介绍的范围。目前，请记住，该功能可用于将任何级别的索引转换为列，例如。reset_indexair_quality.reset_index(level=0)
"""

'\n本教程中未同时提及多个行/列指数的存在。分层索引或多英寸是分析更高维度数据的高级而强大的熊猫特征。\n\n多索引是这个熊猫介绍的范围。目前，请记住，该功能可用于将任何级别的索引转换为列，例如。reset_indexair_quality.reset_index(level=0)\n'

#### 使用通用标识符加入表

In [26]:
# 将站坐标（由站元数据表提供）添加到测量表中的相应行中。
# 空气质量测量站坐标存储在数据文件中，使用py-openaq包下载。air_quality_stations.csv

stations_coord = pd.read_csv("data/air_quality_stations.csv")
stations_coord.head()

  location  coordinates.latitude  coordinates.longitude
0  BELAL01              51.23619                4.38522
1  BELHB23              51.17030                4.34100
2  BELLD01              51.10998                5.00486
3  BELLD02              51.12038                5.02155
4  BELR833              51.32766                4.36226

In [27]:
# 此示例中使用的站（FR04014、BETR801 和伦敦威斯敏斯特）
# 仅是元数据表中征召的三个条目。我们只想将这三个坐标添加到测量表中，
# 每个坐标都放在表的相应行上。air_quality

air_quality.head()

                       date.utc            location parameter  value
2067  2019-05-07 01:00:00+00:00  London Westminster       no2   23.0
1003  2019-05-07 01:00:00+00:00             FR04014       no2   25.0
100   2019-05-07 01:00:00+00:00             BETR801      pm25   12.5
1098  2019-05-07 01:00:00+00:00             BETR801       no2   50.5
1109  2019-05-07 01:00:00+00:00  London Westminster      pm25    8.0

In [28]:
# 使用merge()函数，对于表中的每一行，都从表中添加相应的坐标。
# 这两个表都有一个共同的列，该列用作组合信息的键。通过选择连接，
# 只有(左)表中可用的位置，即FR04014、BETR801和London Westminster，
# 才会在结果表中结束。该函数支持多个连接选项，类似于数据库样式的操作
air_quality = pd.merge(air_quality, stations_coord, how="left", on="location")
air_quality.head()

,date.utc,location,parameter,value,coordinates.latitude,coordinates.longitude
0,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,51.49467,-0.13193
1,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,48.83724,2.39390
2,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,48.83722,2.39390
3,2019-05-07 01:00:00+00:00,BETR801,pm25,12.5,51.20966,4.43182
4,2019-05-07 01:00:00+00:00,BETR801,no2,50.5,51.20966,4.43182

In [29]:
# 将参数元数据表提供的参数完整描述和名称添加到测量表中
# 加载空气质量参数元数据
air_quality_parameters = pd.read_csv("data/air_quality_parameters.csv")
air_quality_parameters.head()

     id                                        description  name
0    bc                                       Black Carbon    BC
1    co                                    Carbon Monoxide    CO
2   no2                                   Nitrogen Dioxide   NO2
3    o3                                              Ozone    O3
4  pm10  Particulate matter less than 10 micrometers in...  PM10

In [30]:
# 空气质量测量站坐标
air_quality.head()

,date.utc,location,parameter,value,coordinates.latitude,coordinates.longitude
0,2019-05-07 01:00:00+00:00,London Westminster,no2,23.0,51.49467,-0.13193
1,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,48.83724,2.39390
2,2019-05-07 01:00:00+00:00,FR04014,no2,25.0,48.83722,2.39390
3,2019-05-07 01:00:00+00:00,BETR801,pm25,12.5,51.20966,4.43182
4,2019-05-07 01:00:00+00:00,BETR801,no2,50.5,51.20966,4.43182

In [ ]:
# 与前面的例子相比,没有常见的列名。
# 但是,表中的列和列在两者中都以一种常见的格式提供了度量变量。
# 在这里使用参数(而不是只是)来实现两者之间的链接
"""
熊猫也支持内、外、右连接。有关表的连接/合并的更多信息，
请参照用户指南部分提供有关表的数据库样式合并的信息。或者看看与 SQL页面的比较。

记得

使用该功能，可以将多个表串联在柱上和行面上。
concat

对于类似数据库的合并/表连接，请使用该功能。
merge
"""