In [2]:
import os.path
import sys
import numpy as np
import pandas as pd

pd._version  # 查看包安装路径
pd.show_versions()  # 查看系统版本信息

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.7.12.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : AMD64 Family 23 Model 104 Stepping 1, AuthenticAMD
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : None.None

pandas           : 1.3.4
numpy            : 1.21.4
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.3.1
setuptools       : 59.1.0
Cython           : 0.29.24
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : None
html5lib         : None
pymysql          : None
psycopg2         : None
jinja2           : 3.0.3
IPython          : 7.30.1
pandas_datareader: None
bs4              : None
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : None
odfpy            : None
openpyxl         : None
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.2
sqlalchemy       : None
tables           : None
tabulate         : None
xarray           : None
xlrd             : None
xlwt             : None
numba            : None

In [2]:
print(sys.path)

['D:\\study\\python-demo\\pandas\\demo-pandas', 'D:\\study\\python-demo', 'D:\\Weisoft Stock(x64)\\Document\\Python', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\python37.zip', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\DLLs', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\lib', 'C:\\ProgramData\\Anaconda3\\envs\\py37', '', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\lib\\site-packages', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\lib\\site-packages\\win32', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\lib\\site-packages\\win32\\lib', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\lib\\site-packages\\Pythonwin', 'C:\\ProgramData\\Anaconda3\\envs\\py37\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\yalin\\.ipython']

### 对象创建

In [2]:
# 通过传递值列表创建
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 通过 NumPy 阵列创建数据帧，其中带有日期时间索引和标记列：
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCd"))
df

                   A         B         C         d
2013-01-01 -0.984792  0.798328  0.392502 -0.685719
2013-01-02  0.423804 -0.348169  1.931429 -0.937928
2013-01-03 -0.807472  0.904021 -0.065711 -1.474258
2013-01-04  0.493133  0.914707  0.098531  0.885062
2013-01-05 -0.294373  0.036677 -1.339970 -0.503527
2013-01-06  0.948630  0.425396  0.864139  0.736759

In [5]:
# 通过传递可转换为类似系列的对象的听写来创建数据帧。
df2 = pd.DataFrame(
    {
        "A": 1.333333,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

          A          B    C  D      E    F
0  1.333333 2013-01-02  1.0  3   test  foo
1  1.333333 2013-01-02  1.0  3  train  foo
2  1.333333 2013-01-02  1.0  3   test  foo
3  1.333333 2013-01-02  1.0  3  train  foo

In [6]:
pd.Timestamp("20130102")

Timestamp('2013-01-02 00:00:00')

In [7]:
# 生成的数据帧的列具有不同的 d型。
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [92]:
df3 = pd.DataFrame(
    {
        "date": ['2022-01-04', '2022-01-04', '2022-01-04', '2022-01-05', '2022-01-06'],
        "time": ['13:05:00', '13:10:00', '13:15:00', '13:20:00', '13:25:00', ],
        "open": [2671, 2679, 2669, 2675, 2678],
        "close": [2689, 2694, 2688, 2691, 2691],
    },
    # index=[1, 3, 5, 7, 9],
)
df4 = df3[['date','time','open']]
# df3.set_index(['date','time'], drop=True, inplace=True, append=True)
df3.set_index(['date','time'], drop=True, inplace=True, append=True)
# df4.set_index(['date','time'])
print(df4)

         date      time  open
0  2022-01-04  13:05:00  2671
1  2022-01-04  13:10:00  2679
2  2022-01-04  13:15:00  2669
3  2022-01-05  13:20:00  2675
4  2022-01-06  13:25:00  2678

## 查看数据

以下是如何查看框架的顶部和底部行：

In [8]:
df.head(4)

                   A         B         C         d
2013-01-01 -0.984792  0.798328  0.392502 -0.685719
2013-01-02  0.423804 -0.348169  1.931429 -0.937928
2013-01-03 -0.807472  0.904021 -0.065711 -1.474258
2013-01-04  0.493133  0.914707  0.098531  0.885062

In [9]:
df2.tail(4)

          A          B    C  D      E    F
0  1.333333 2013-01-02  1.0  3   test  foo
1  1.333333 2013-01-02  1.0  3  train  foo
2  1.333333 2013-01-02  1.0  3   test  foo
3  1.333333 2013-01-02  1.0  3  train  foo

显示索引、列：

In [ ]:
name = "文件名"
filename = r"D:\yalin\Documents\Weisoft Stock\%s.txt" % name
print(filename)
filename = r"D:\yalin\Documents\Weisoft Stock\{}.txt".format(name)
print(filename)

In [8]:
df0 = pd.DataFrame(np.random.randn(6, 4), index=range(1, 7), columns=list("abcD"))
df0.loc[1:2, 'a':'c'] = None
df0

          a         b         c         D
1       NaN       NaN       NaN  0.044281
2       NaN       NaN       NaN  0.762817
3  0.108640 -0.242814  0.019110  1.364499
4  0.532870  0.670488 -0.727511 -0.605476
5  0.907558 -0.667310  0.356394  0.192299
6  2.197425  0.832174 -0.535955  0.560034

## 缺失值处理

In [ ]:
# 检查数据中是否有缺失值，以下两种方式均可
# #Flase:无缺失值 #True：有缺失值
print('返回每一列缺失值统计个数:', df0.isnull().sum())
df0 = df0.dropna(axis=0, how='any')  #删除包含缺失值的行
print('检查数据中是否有缺失值:', df0.isnull().any())
print(df0)

# 时间格式转换

In [25]:
from datetime import datetime, timedelta

# 生成带有时间序列的DataFrame
df = pd.DataFrame.from_dict(
    dict(Alfa=[1, 2, 3],
         Bravo=[4, 5, 6],
         Datetime=[datetime.strftime(datetime.now() - timedelta(days=_), "%Y/%m/%d %H:%M:%S") for _ in range(3)]),
    orient='index',
    columns=['A', 'B', 'C']).T
df

  Alfa Bravo             Datetime
A    1     4  2022/01/11 21:36:15
B    2     5  2022/01/10 21:36:15
C    3     6  2022/01/09 21:36:15

In [23]:

df['datetime'] = pd.to_datetime(df['Datetime'], format="%Y/%m/%d %H:%M:%S")  # date转为时间格式
df

  Alfa Bravo             Datetime            datetime
A    1     4  2022/01/11 21:04:04 2022-01-11 21:04:04
B    2     5  2022/01/10 21:04:04 2022-01-10 21:04:04
C    3     6  2022/01/09 21:04:04 2022-01-09 21:04:04

In [17]:
df['datetime'] = df['Datetime'].astype('datetime64[ns]')  # date转为时间格式
df

  Alfa Bravo             Datetime            datetime
A    1     4  2022/01/11 20:22:11 2022-01-11 20:22:11
B    2     5  2022/01/10 20:22:11 2022-01-10 20:22:11
C    3     6  2022/01/09 20:22:11 2022-01-09 20:22:11

In [26]:
df['Datetime'] = pd.to_datetime(df['Datetime'])  # date转为时间格式
df

  Alfa Bravo            Datetime
A    1     4 2022-01-11 21:36:15
B    2     5 2022-01-10 21:36:15
C    3     6 2022-01-09 21:36:15

In [27]:
df.set_index("Datetime", inplace=True)
df

                    Alfa Bravo
Datetime
2022-01-11 21:36:15    1     4
2022-01-10 21:36:15    2     5
2022-01-09 21:36:15    3     6

In [1]:
# pd.reset_option('display.float_format')  # 重置
pd.set_option('precision', 2)  # 显示小数点后的位数
pd.set_option('expand_frame_repr', False)  # True就是可以换行显示。设置成False的时候不允许换行
pd.set_option('display.max_rows', 300)  # 控制显示的最大行数
pd.set_option('display.min_rows', 20)  # 确定显示的部分有多少行
pd.set_option('display.max_columns', 10)  # 控制显示的最大列数
# pd.set_option('display.float_format',  '{:,.2f}'.format) # 数字格式化显示 用逗号格式化大值数字 设置数字精度
# 指定列名设置计算精确度，未指定的保持原样
df.round({'open': 0, 'high': 0, 'low': 0, 'close': 0})
# 统一保持1位小数
df.round(0)
# 设置np输出精度
#设定numpy显示浮点数精度的小数位数,不使用科学记数法
np.set_printoptions(precision=2, suppress=True)

NameError: name 'df' is not defined