In [12]:
import os.path
import sys
import numpy as np
import pandas as pd
pd._version  # 查看包安装路径
pd.show_versions()  # 查看系统版本信息

INSTALLED VERSIONS
------------------
commit           : 945c9ed766a61c7d2c0a7cbb251b6edebf9cb7d5
python           : 3.8.12.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.22000
machine          : AMD64
processor        : AMD64 Family 23 Model 104 Stepping 1, AuthenticAMD
byteorder        : little
LC_ALL           : en_US.UTF-8
LANG             : en_US.UTF-8
LOCALE           : Chinese (Simplified)_China.936

pandas           : 1.3.4
numpy            : 1.21.4
pytz             : 2021.3
dateutil         : 2.8.2
pip              : 21.3.1
setuptools       : 60.0.4
Cython           : None
pytest           : None
hypothesis       : None
sphinx           : None
blosc            : None
feather          : None
xlsxwriter       : None
lxml.etree       : 4.7.1
html5lib         : 1.1
pymysql          : None
psycopg2         : None
jinja2           : 3.0.3
IPython          : 7.30.1
pandas_datareader: None
bs4              : 4.10.0
bottleneck       : None
fsspec           : None
fastparquet      : None
gcsfs            : None
matplotlib       : 3.2.2
numexpr          : None
odfpy            : None
openpyxl         : 3.0.9
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.7.3
sqlalchemy       : None
tables           : None
tabulate         : 0.8.9
xarray           : None
xlrd             : 2.0.1
xlwt             : None
numba            : None

#### 对象创建

In [2]:
# 通过传递值列表创建
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
# 通过 NumPy 阵列创建数据帧，其中带有日期时间索引和标记列：
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCd"))
df

                   A         B         C         d
2013-01-01 -0.984792  0.798328  0.392502 -0.685719
2013-01-02  0.423804 -0.348169  1.931429 -0.937928
2013-01-03 -0.807472  0.904021 -0.065711 -1.474258
2013-01-04  0.493133  0.914707  0.098531  0.885062
2013-01-05 -0.294373  0.036677 -1.339970 -0.503527
2013-01-06  0.948630  0.425396  0.864139  0.736759

In [5]:
# 通过传递可转换为类似系列的对象的听写来创建数据帧。
df2 = pd.DataFrame(
    {
        "A": 1.333333,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

          A          B    C  D      E    F
0  1.333333 2013-01-02  1.0  3   test  foo
1  1.333333 2013-01-02  1.0  3  train  foo
2  1.333333 2013-01-02  1.0  3   test  foo
3  1.333333 2013-01-02  1.0  3  train  foo

In [6]:
pd.Timestamp("20130102")

Timestamp('2013-01-02 00:00:00')

In [7]:
# 生成的数据帧的列具有不同的 d型。
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 查看数据

以下是如何查看框架的顶部和底部行：

In [8]:
df.head(4)

                   A         B         C         d
2013-01-01 -0.984792  0.798328  0.392502 -0.685719
2013-01-02  0.423804 -0.348169  1.931429 -0.937928
2013-01-03 -0.807472  0.904021 -0.065711 -1.474258
2013-01-04  0.493133  0.914707  0.098531  0.885062

In [9]:
df2.tail(4)

          A          B    C  D      E    F
0  1.333333 2013-01-02  1.0  3   test  foo
1  1.333333 2013-01-02  1.0  3  train  foo
2  1.333333 2013-01-02  1.0  3   test  foo
3  1.333333 2013-01-02  1.0  3  train  foo

显示索引、列：

In [10]:
name = "文件名"
filename = r"D:\yalin\Documents\Weisoft Stock\%s.txt"% name
print(filename)
filename = r"D:\yalin\Documents\Weisoft Stock\{}.txt".format(name)
print(filename)

D:\yalin\Documents\Weisoft Stock\文件名.txt
D:\yalin\Documents\Weisoft Stock\文件名.txt