In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./data/EURUSD1440.csv',
                 sep='\t',
                 header=None,
                 index_col=[0],  #设置行索引
                 parse_dates=[0],  #解析时间
                 date_parser=lambda x: pd.to_datetime(x, format='%Y-%m-%d %H:%M'),  #时间解析的格式
                 )
# 将日期列，设置成index
# df.index = pd.to_datetime(df.iloc[:,0], format='%Y-%m-%d')
df.head()

                  1        2        3        4        5
0
2007-01-01  1.31908  1.31985  1.31650  1.31931   728451
2007-01-02  1.31916  1.32951  1.31837  1.32754  2024367
2007-01-03  1.32743  1.32903  1.31761  1.31925  2005667
2007-01-04  1.31935  1.31954  1.30823  1.30876  2011064
2007-01-05  1.30871  1.31029  1.29883  1.29909  2011796

In [10]:
rule_type = '1W'  # 周期单位: 5T=5分钟 1H=1小时 1D=1天 1W=1周
period_df = df.resample(rule=rule_type, label='left', closed='left').agg(
    {1: 'first',
     2: 'max',
     3: 'min',
     4: 'last',
     5: 'sum'
     })

# 保存文件
period_df.to_csv('./data/EURUSD10080.csv',
                 sep=f'\t',
                 header=False,  #不导出列标签
                 date_format='%Y-%m-%d %H:%M',
                 )
period_df.head()

                  1        2        3        4         5
0
2006-12-31  1.31908  1.32951  1.29804  1.29995   9946097
2007-01-07  1.30097  1.30517  1.28668  1.29212  10037663
2007-01-14  1.29219  1.29998  1.28971  1.29536  10024435
2007-01-21  1.29592  1.30423  1.28807  1.29144  10019581
2007-01-28  1.29147  1.30615  1.28948  1.29562  10024377