In [36]:
import pandas as pd
import numpy as np
np.random.seed(24)
df = pd.DataFrame({'AB': np.linspace(1, 4, 5),
                   'BC': np.linspace(1, 2, 5)})

df = pd.concat([df, pd.DataFrame(np.random.randn(5, 3), columns=list('BCD'))],
               axis=1)
# df.iloc[3, 3] = np.nan
# df.iloc[0, 2] = np.nan
df

     AB    BC         B         C         D
0  1.00  1.00  1.329212 -0.770033 -0.316280
1  1.75  1.25 -0.990810 -1.070816 -1.438713
2  2.50  1.50  0.564417  0.295722 -1.626404
3  3.25  1.75  0.219565  0.678805  1.889273
4  4.00  2.00  0.961538  0.104011 -0.481165

In [37]:
df.columns.str.endswith('B')

array([ True, False,  True, False, False])

In [38]:
df.loc[:,df.columns.str.endswith('B')]

     AB         B
0  1.00  1.329212
1  1.75 -0.990810
2  2.50  0.564417
3  3.25  0.219565
4  4.00  0.961538

In [39]:
df2 = df.loc[:,df.columns.str.endswith('B')].style.format("{:.2%}")
df2

In [40]:
# 配置列名后是B的列,设置小数位数
df.loc[:,df.columns.str.endswith('B')].round(2)

     AB     B
0  1.00  1.33
1  1.75 -0.99
2  2.50  0.56
3  3.25  0.22
4  4.00  0.96

In [42]:
# 所有列格式化为2位小数，并转为百分数
df.style.format("{:.2%}")

In [43]:
df

     AB    BC         B         C         D
0  1.00  1.00  1.329212 -0.770033 -0.316280
1  1.75  1.25 -0.990810 -1.070816 -1.438713
2  2.50  1.50  0.564417  0.295722 -1.626404
3  3.25  1.75  0.219565  0.678805  1.889273
4  4.00  2.00  0.961538  0.104011 -0.481165