In [23]:
# coding:utf-8
import datetime

import pandas as pd
import numpy as np

In [24]:
# 加载时间周期数据
df = pd.read_csv('./data/EURUSD-100.txt', nrows=50, )

print(df.head(3))
df.dtypes

  <TICKER>  <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0   EURUSD      20010102  230100  0.9507  0.9507  0.9507   0.9507      4
1   EURUSD      20010102  230200  0.9506  0.9506  0.9505   0.9505      4
2   EURUSD      20010102  230300  0.9505  0.9507  0.9505   0.9506      4

<TICKER>         object
<DTYYYYMMDD>      int64
<TIME>            int64
<OPEN>          float64
<HIGH>          float64
<LOW>           float64
<CLOSE>         float64
<VOL>             int64
dtype: object

In [25]:
# 加载时间周期数据
# 读取日期和时间数据合并到新的列'<date>'，这是最简单的方式了
df2 = pd.read_csv('./data/EURUSD-100.txt', nrows=50,
                 parse_dates={'<DATE>': ['<DTYYYYMMDD>'] + ['<TIME>']})
print(df2.head(3))

               <date> <TICKER>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>
0 2001-01-02 23:01:00   EURUSD  0.9507  0.9507  0.9507   0.9507      4
1 2001-01-02 23:02:00   EURUSD  0.9506  0.9506  0.9505   0.9505      4
2 2001-01-02 23:03:00   EURUSD  0.9505  0.9507  0.9505   0.9506      4

In [26]:
df2.dtypes

<date>      datetime64[ns]
<TICKER>            object
<OPEN>             float64
<HIGH>             float64
<LOW>              float64
<CLOSE>            float64
<VOL>                int64
dtype: object

In [28]:
# 将数字日期类型 转换为时间类型

print(df['<DTYYYYMMDD>'][0])
print(df['<DTYYYYMMDD>'].dtypes)
# 先将数字日期类型转换成字符串，再转换成时间类型
pd.to_datetime(df['<DTYYYYMMDD>'].astype(str))

20010102
object

0   2001-01-02
1   2001-01-02
2   2001-01-02
3   2001-01-02
4   2001-01-02
5   2001-01-02
Name: <DTYYYYMMDD>, dtype: datetime64[ns]

In [29]:
# 将数字类型时间 转换成时间类型
# 第一种方法
print(df.head(3).iloc[:, 1:3])
# pd.to_datetime(df['<TIME>'].astype(str))

# df['<DTYYYYMMDD>'].astype(str)+df['<TIME>'].astype(str)
# 将两列数字时间先转换成字符串 拼接后 转换成datetime64时间类型数据
# pd.to_datetime(df['<DTYYYYMMDD>'].astype(str) + df['<TIME>'].astype(str))

  <DTYYYYMMDD>  <TIME>
0     20010102  230100
1     20010102  230200
2     20010102  230300

In [30]:
# 第二种拼接方法
# 将两列数字时间先转换成字符串，拼接后 转换成datetime64时间类型数据
# pd.to_datetime(df['<DTYYYYMMDD>'].astype(str).str.cat(df['<TIME>'].astype(str)))

In [31]:
# 将前两列数字类型的日期和时间列数据，转换合并成新的一列 datetime64时间类型数据
df['dateTime'] = pd.to_datetime(df['<DTYYYYMMDD>'].astype(str) + df['<TIME>'].astype(str))
df['dateTime'].head(3)

0   2001-01-02 23:01:00
1   2001-01-02 23:02:00
2   2001-01-02 23:03:00
Name: dateTime, dtype: datetime64[ns]

In [32]:
# 查看df数据类型
print(df.dtypes)
df.head(3)

<TICKER>                object
<DTYYYYMMDD>            object
<TIME>                   int64
<OPEN>                 float64
<HIGH>                 float64
<LOW>                  float64
<CLOSE>                float64
<VOL>                    int64
dateTime        datetime64[ns]
dtype: object

,<TICKER>,<DTYYYYMMDD>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,dateTime
0,EURUSD,20010102,230100,0.9507,0.9507,0.9507,0.9507,4,2001-01-02 23:01:00
1,EURUSD,20010102,230200,0.9506,0.9506,0.9505,0.9505,4,2001-01-02 23:02:00
2,EURUSD,20010102,230300,0.9505,0.9507,0.9505,0.9506,4,2001-01-02 23:03:00

In [33]:
# 第三种方法
# 使用to_datetime转换日期类型的数据
# datetime.datetime.combine()

# pd.to_datetime(df[['<DTYYYYMMDD>', '<TIME>']])

In [34]:
# 查看df数据类型
df.dtypes
print(df.head(3))

  <TICKER> <DTYYYYMMDD>  <TIME>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>  \
0   EURUSD     20010102  230100  0.9507  0.9507  0.9507   0.9507      4
1   EURUSD     20010102  230200  0.9506  0.9506  0.9505   0.9505      4
2   EURUSD     20010102  230300  0.9505  0.9507  0.9505   0.9506      4

             dateTime
0 2001-01-02 23:01:00
1 2001-01-02 23:02:00
2 2001-01-02 23:03:00

In [35]:
# inplace=False 时不改变内存，再次输入df的时候，它还是显示原数据
# 删除列标为<DTYYYYMMDD> 的一列
df.drop(['<DTYYYYMMDD>'], axis=1, inplace=False)
# 同时删除两列
df.drop(['<DTYYYYMMDD>', '<TIME>'], axis=1, inplace=False)

  <TICKER>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>            dateTime
0   EURUSD  0.9507  0.9507  0.9507   0.9507      4 2001-01-02 23:01:00
1   EURUSD  0.9506  0.9506  0.9505   0.9505      4 2001-01-02 23:02:00
2   EURUSD  0.9505  0.9507  0.9505   0.9506      4 2001-01-02 23:03:00
3   EURUSD  0.9506  0.9506  0.9506   0.9506      4 2001-01-02 23:04:00
4   EURUSD  0.9506  0.9506  0.9506   0.9506      4 2001-01-02 23:05:00
5   EURUSD  0.9506  0.9506  0.9506   0.9506      4 2001-01-02 23:06:00

In [36]:
df.head(3)

,<TICKER>,<DTYYYYMMDD>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,dateTime
0,EURUSD,20010102,230100,0.9507,0.9507,0.9507,0.9507,4,2001-01-02 23:01:00
1,EURUSD,20010102,230200,0.9506,0.9506,0.9505,0.9505,4,2001-01-02 23:02:00
2,EURUSD,20010102,230300,0.9505,0.9507,0.9505,0.9506,4,2001-01-02 23:03:00

In [37]:
df.drop(['<DTYYYYMMDD>', '<TIME>'], 1, inplace=True)

C:\Users\yalin\AppData\Local\Temp/ipykernel_27728/3937243134.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  df.drop(['<DTYYYYMMDD>', '<TIME>'], 1, inplace=True)

In [38]:
df.head(3)

  <TICKER>  <OPEN>  <HIGH>   <LOW>  <CLOSE>  <VOL>            dateTime
0   EURUSD  0.9507  0.9507  0.9507   0.9507      4 2001-01-02 23:01:00
1   EURUSD  0.9506  0.9506  0.9505   0.9505      4 2001-01-02 23:02:00
2   EURUSD  0.9505  0.9507  0.9505   0.9506      4 2001-01-02 23:03:00