In [1]:
# coding: utf-8
import pandas as pd

In [2]:
air_quality = pd.read_csv("data/air_quality_no2.csv",
                          index_col=0, parse_dates=True)

In [3]:
air_quality.head()

                     station_antwerp  station_paris  station_london
datetime
2019-05-07 02:00:00              NaN            NaN            23.0
2019-05-07 03:00:00             50.5           25.0            19.0
2019-05-07 04:00:00             45.0           27.7            19.0
2019-05-07 05:00:00              NaN           50.4            16.0
2019-05-07 06:00:00              NaN           61.9             NaN

In [4]:
# 我想用毫克/米来表达伦敦车站的浓度
# (如果我们假设温度为 25 摄氏度，压力为 1013 hPa，则转换因子为 1.882)
air_quality["london_mg_per_cubic"] = air_quality["station_london"] * 1.882

In [5]:
air_quality.head(3)

,station_antwerp,station_paris,station_london,london_mg_per_cubic
datetime,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286
2019-05-07 03:00:00,50.5,25.0,19.0,35.758
2019-05-07 04:00:00,45.0,27.7,19.0,35.758

In [6]:
# 要创建新列，请使用作业左侧带有新列名的括号。[]
# 我想检查巴黎与安特卫普的值比率，并将结果保存在新的列中
air_quality["ratio_paris_antwerp"] = (
        air_quality["station_paris"] / air_quality["station_antwerp"]
)

In [8]:
air_quality.head()

,station_antwerp,station_paris,station_london,london_mg_per_cubic,ratio_paris_antwerp
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,NaN
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,0.495050
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,0.615556
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,NaN
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,NaN

In [9]:
# 我想将数据列重命名为 openAQ 使用的相应站标识符
air_quality_renamed = air_quality.rename(
    columns={
        "station_antwerp": "BETR801",
        "station_paris": "FR04014",
        "station_london": "London Westminster",
    }
)

In [10]:
# 重命名（）功能可用于行标签和列标签。提供字典，其中键为当前名称和新名称的值，以更新相应的名称。
air_quality_renamed.head()

,BETR801,FR04014,London Westminster,london_mg_per_cubic,ratio_paris_antwerp
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,NaN
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,0.495050
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,0.615556
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,NaN
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,NaN

In [14]:
# 映射不应仅限于固定名称，而应是映射功能。例如，也可以使用一个函数将列名转换为小写字母
air_quality_renamed = air_quality_renamed.rename(columns=str.lower)

In [15]:
air_quality_renamed.head()

,betr801,fr04014,london westminster,london_mg_per_cubic,ratio_paris_antwerp
datetime,,,,,
2019-05-07 02:00:00,NaN,NaN,23.0,43.286,NaN
2019-05-07 03:00:00,50.5,25.0,19.0,35.758,0.495050
2019-05-07 04:00:00,45.0,27.7,19.0,35.758,0.615556
2019-05-07 05:00:00,NaN,50.4,16.0,30.112,NaN
2019-05-07 06:00:00,NaN,61.9,NaN,NaN,NaN

In [ ]:
"""
内容要点：

通过将输出分配到数据帧，并在数据帧之间分配新的列名来创建新列。[]

操作是元素方面，无需在行中循环。

使用字典或功能重命名行标签或列名。rename
"""