In [6]:
# coding: utf-8
import pandas as pd

In [7]:
titanic = pd.read_csv("data/titanic.csv")

In [8]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# 泰坦尼克号乘客的平均年龄是几岁？
titanic["Age"].mean()

29.69911764705882

In [5]:
# 提供不同的统计数据，可应用于具有数字数据的列。操作一般排除缺失的数据，默认情况下跨行操作。
# 泰坦尼克号乘客的中位年龄和票价是多少？
titanic[["Age", "Fare"]].median()

Age     28.0000
Fare    14.4542
dtype: float64

In [6]:
# 聚合统计可以同时计算多个列。还记得第一个教程教程中的功能吗？
titanic[["Age", "Fare"]].describe()

              Age        Fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

In [11]:
# 可以使用DataFrame.agg（）方法定义给定列的聚合统计的具体组合，而不是预先定义的统计数据：
titanic.agg(
    {
        "Age": ["min", "max","median","skew"],
        "Fare": ["min","max","median","mean"],
    }
)

              Age        Fare
min      0.420000    0.000000
max     80.000000  512.329200
median  28.000000   14.454200
skew     0.389108         NaN
mean          NaN   32.204208

#### 按类别分组的聚合统计数据

In [9]:
# 泰坦尼克号乘客男性和女性的平均年龄
titanic[["Sex", "Age"]].groupby("Sex").mean()

              Age
Sex
female  27.915709
male    30.726645

In [10]:
# 计算给定统计数据（例如。 列中每个类别（例如列中的男性/女性）的年龄是一种常见模式。该方法用于支持此类操作。更笼统地说，这符合更通用的模式：
# 将数据拆分为组
# 独立地将功能应用于每个组
# 将结果组合到数据结构中

SyntaxError: invalid syntax (Temp/ipykernel_11076/1504886428.py, line 2)

In [11]:
titanic.groupby("Sex").mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Sex,,,,,,,
female,431.028662,0.742038,2.159236,27.915709,0.694268,0.649682,44.479818
male,454.147314,0.188908,2.389948,30.726645,0.429809,0.235702,25.523893

In [12]:
# 它没有多大意义，以获得的平均值。如果我们只对每个性别的平均年龄感兴趣，则在分组数据上也支持列（像往常一样矩形括号）的选择：Pclass[]
titanic.groupby("Sex")["Age"].mean()

Sex
female    27.915709
male      30.726645
Name: Age, dtype: float64

In [13]:
# 男女舱的票价平均价格是什么？
titanic.groupby(["Sex", "Pclass"])["Fare"].mean()

Sex     Pclass
female  1         106.125798
        2          21.970121
        3          16.118810
male    1          67.226127
        2          19.741782
        3          12.661633
Name: Fare, dtype: float64

#### 按类别计算记录数

In [14]:
# 每个客舱舱的乘客人数是多少？
titanic["Pclass"].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [16]:
# 该功能是一个快捷方式，因为它实际上是一个组对操作，结合每个组内记录数的计数
titanic.groupby("Pclass")["Pclass"].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [19]:
# 两者都可以与 。而包括值，仅提供行数（表大小），则不包括缺失的值。在方法中，使用参数来包含或排除值

In [22]:
# 统计每个客仓的男性与女性的人数
titanic.groupby(["Pclass", "Sex"])["Pclass"].count()

Pclass  Sex
1       female     94
        male      122
2       female     76
        male      108
3       female    144
        male      347
Name: Pclass, dtype: int64

记得

聚合统计可以计算在整个列或行

groupby提供拆分应用组合模式的功率

value_counts是计算变量中每个类别的条目数的便捷快捷方式