In [6]:
import sys

import numpy as np

import pandas as pd

In [7]:
print(sys.version)

3.9.7 | packaged by conda-forge | (default, Sep 29 2021, 19:15:42) [MSC v.1916 64 bit (AMD64)]

#### 对象创建

In [8]:
# 通过传递值列表创建
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
# 通过 NumPy 阵列创建数据帧，其中带有日期时间索引和标记列：
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCd"))
df

                   A         B         C         d
2013-01-01  1.479098 -1.963024  0.607703  0.454752
2013-01-02  0.891101  1.385257 -1.291298  0.955918
2013-01-03  0.260225 -0.222421  0.460448 -1.363150
2013-01-04  0.679520 -0.214220  0.749371 -0.411783
2013-01-05  1.707891  0.091873  0.387497 -0.675916
2013-01-06  0.752734  1.562349  1.347751 -0.109075

In [11]:
# 通过传递可转换为类似系列的对象的听写来创建数据帧。
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [12]:
pd.Timestamp("20130102")

Timestamp('2013-01-02 00:00:00')

In [13]:
# 生成的数据帧的列具有不同的 d型。
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

# 查看数据

以下是如何查看框架的顶部和底部行：

In [14]:
df.head(4)

                   A         B         C         d
2013-01-01  1.479098 -1.963024  0.607703  0.454752
2013-01-02  0.891101  1.385257 -1.291298  0.955918
2013-01-03  0.260225 -0.222421  0.460448 -1.363150
2013-01-04  0.679520 -0.214220  0.749371 -0.411783

In [15]:
df2.tail(4)

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

显示索引、列：